@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --red:#fc4448;
    --secondary-color: #ffcc00;
    --background-color: #1e1e1e; /* Dark background color */
    --text-color: #f8f8f8; /* Light text color */
    
    --clip-path-hero: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
    --clip-path-image: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    --clip-path-services: polygon(83% 0, 100% 18%, 100% 100%, 75% 100%, 20% 100%, 0 88%, 0 0);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ++++++++++ */
/* Navigation */
/* ++++++++++ */

a{
    text-decoration: none;
    color: white;
}

.nav__items{
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    background: transparent;
    font-family: 'Roboto';
}

nav .logo a:hover {
    font-weight: 900;

    -webkit-text-fill-color: var(--red);    
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

/* Check */
nav .checkbox{
    display: none;
    color: white;
}
  
nav input{
    display: none;
}
  
nav .checkbox i{
    font-size: 2rem;
    cursor: pointer;
}
/* Check */

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin-right: 50px;
}

ul li:hover{
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    padding: 5px;
}

/* ++++++++++ */
/* Navigation */
/* ++++++++++ */

/* ++++++++++ */
/* Hero */
/* ++++++++++ */


/* Background */
.background-image{
    background-color: #0554ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;

    clip-path: var(--clip-path-hero);
}

.hero{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.para h3{
    transition: 2s;
    -webkit-text-fill-color: #FF595B;    
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.para p b{

    -webkit-text-fill-color: #FF595B;    
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

/* Image and Info */
.image-and-info{
    width: 80%;
    color: white;
    font-family: cursive;

    display: flex;
    flex-direction: row;
}

.image-and-info .para p{
    width: 60%;
    text-align: justify;
}

.image-and-info .photo img{
    width: 250px;
    border-radius: 50%;
}

/* ++++++++++ */
/* Hero */
/* ++++++++++ */


/* ++++++++++ */
/* About */
/* ++++++++++ */
.about, .education{
    margin-top: 30px;
    font-family: "Roboto";
}

.about__image-and-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.about__heading, .education__heading{
    text-align: center;
    text-transform: uppercase;

    color: var(--red);
    border-top: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
}

.about__info-para{
    text-align: justify;
    font-size: small;
    width: 60%;
}

.about__info-image img{
    clip-path: var(--clip-path-image);
}
/* ++++++++++ */
/* About */
/* ++++++++++ */

/* ++++++++++ */
/* Education */
/* ++++++++++ */
.about__btns-info{
    margin-top: 30px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.about__education1,
.about__education2, 
.about__education2, 
.about__education3, 
.about__education4{
    display: flex;
    gap: 2rem;
    font-size: small;
}
/* ++++++++++ */
/* Education */
/* ++++++++++ */

/* ++++++++++ */
/* Services */
/* ++++++++++ */
.services{
    font-family: "Roboto";
    width: 100%;
    background-color: var(--red);
    margin-top: 80px;
    padding: 20px;

    clip-path: var(--clip-path-services);
}

.services h3,
.services h5{
    text-align: center;
    padding: 5px;
}

.services__container{
    margin-top: 20px;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service1, .service2, .service3, .service4,
.service5, .service6{
    width: 33%;
}

.service1 p, .service2 p, .service3 p, .service4 p,
.service5 p, .service6 p{
    padding: 15px;
    text-align: justify;
    width: 85%;
}

/* ++++++++++ */
/* Services */
/* ++++++++++ */

/* ++++++++++ */
/* Contact */
/* ++++++++++ */
.footer{
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact{
    width: 100%;
    display: flex;
}

.contact__form{
    width: calc(50% - 10px);
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}

.contact__info{
    width: calc(50% - 10px);
}

input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--red);
    border-radius: 4px;
  }

  
.contact__info{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.contact__info >div{
    font-size: 2.5rem;
}

.contact__info a{
    text-decoration: none;
}

.contact__info a:hover{
    color: var(--red);
}

#text-area{
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--red);
    border-radius: 4px;
}
/* ++++++++++ */
/* Contact */
/* ++++++++++ */

/* For Mobile View and other screens smaller then desktop */
@media screen and (max-width:768px){
    /* ++++++++++ */
    /* Navigation */
    /* ++++++++++ */
    nav .checkbox{
        display: block;
      }

    ul{
        position: absolute;
        width: 100%;
        left: -110%;
        top: 80px;
        padding: 2rem;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }

    nav #check:checked ~ ul {
        left: 0;
      }

    /* ++++++++++ */
    /* Navigation */
    /* ++++++++++ */

    /* ++++++++++ */
    /* Hero */
    /* ++++++++++ */
    .hero{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .image-and-info{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .image-and-info .para{
        text-align: center;
    }

    .image-and-info .para p{
        width: 100%;
    }
    /* ++++++++++ */
    /* Hero */
    /* ++++++++++ */

    /* ++++++++++ */
    /* About */
    /* ++++++++++ */
    .about__image-and-info{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .about__info-para{
        width: 80%;
        text-align: center;
    }

    /* ++++++++++ */
    /* About */
    /* ++++++++++ */

    /* ++++++++++ */
    /* Contact */
    /* ++++++++++ */
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact__form{
        width: 100%;
    }

    .contact__info{
        width: 100%;
    }
    /* ++++++++++ */
    /* Contact */
    /* ++++++++++ */

    .services__container p{
        font-size: 10px;
    }

}

@media (max-width: 675px){
    
    #hire-me{
        writing-mode: vertical-rl
    }

    .services__container p{
        font-size: 8px;
    }
}