.container{
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.contact__image{
    width: 100px;
}

.top__btns{
    display: flex;
    gap: 1.5rem;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form__container input{
    height: 40px;
    padding: 5px;
}

.submit__btn{
    display: flex;
    justify-content: end;
}

.form__container label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
}

.contact__image{
    width: 100%;
    display: flex;
    justify-content: end;
}

.contact__image img{
    width: 80%;
    height: 100%;
}